@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To The Transport Page</h1>
    <p>Here you can see all the details about our transportation company.
    The cost for a ticket is 150$ per person.
    We travel from A to B and back</p>
    
    
</div>
