@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="/css/style.css">


<div class="text-center">
    <h1 class="display-4">Bine ati venit pe pagina principala a firmei Byby Transport</h1>
</div>


<section class="row">
    <aside class="col-25">
        <p>Oferim zilnic transport persoane,colete,masini pentru platforma din zona Olteniei spre Austria,Germania,Belgia si Olanda și retur.</p>
        <ul>
            <li>Șoferii nostri sunt experimentați și oferă o călătorie sigură și liniștită</li>
            <li>Autocarele și microbuzele destinate transportului de persoane sunt verificate des astfel încât să nu întâmpine probleme tehnice care să prelungească durata tranzitului sau să pună în pericol siguranța pasagerilor.</li>
            <li>Mergi în condiții de maximă siguranță și confort</li>
        </ul>
        <p>De ce clientii aleg Byby Transport? Oferim calitate, respect si preturi accesibile.</p>
        <p>Rezervă-ți locul la numerele de telefon afișate mai jos prin apel sau mesaj WhatsUp</p>
    </aside>
    <main class="col-75">
        <img src="~/css/transportation-services-04-1.png" class="resizable-car"/>
    </main>
</section>


<section class="rowImages">
    <main class="col-25">
        <i class="bi bi-bus-front" style="font-size:40px"> Plecare in fiecare zi</i>
        <br />
        <i class="bi bi-currency-euro" style="font-size:40px"> Pret de persoană de la 150 Euro</i>
        <br />
        <i class="bi bi-credit-card" style="font-size:40px"> Mod de plata - La îmbarcare</i>
    </main>
    
</section>

<br />
<br />
<h2>Servici Oferite</h2>
<section class="destination">
    <div class="image-container"> 
        <p>Transport</p>
        <img src="~/css/microbuz.png" title="Transport" class="resizable-image" />
    </div>
    <div class="image-container">
        <p>Colete</p>
        <img src="css/colete.png" class="resizable-image"/>
    </div>
    <div class="image-container">
        <p>Platforma pentru masini</p>
        <img src="css/platforma.png" class="resizable-image" />
    </div>
    
</section>

<br />
<br />
<h2>Destinații</h2>
<section class="destination">
        <div class="image-container">
            <p>Germania</p>
            <img src="~/css/G.png" class="resizable-image" />
        </div>
        
        <div class="image-container">
            <p>Austria</p>
            <img src="~/css/A.png" class="resizable-image" />
        </div>
        
        <div class="image-container">
            <p>Olanda</p>
            <img src="~/css/H.png" class="resizable-image" />
        </div>
        
        <div class="image-container">
            <p>Belgia</p>
            <img src="~/css/B.png" class="resizable-image" />
        </div>
        
    
</section>

<footer>
    <table>
        <tr>
            <th>Contact Romania</th>
            <th>Contact Germania</th>
        </tr>
        <tr>
            <th>
                <a href="tel: +40752510856" class="btn btn-primary" style="font-size: 20px; width:200px;">
                    <i class="bi bi-telephone"></i> 0752510856
                </a>
            </th>
            <th>
                <a href="tel: +491633048904" class="btn btn-primary" style="font-size: 20px; width:200px;">
                    <i class="bi bi-telephone"></i> 491633048904
                </a>
            </th>
        </tr>
        <tr>
            <th>
                <a href="https://wa.me/40752510856" class="btn btn-primary" style="background-color: #4CAF50;font-size: 20px; width:200px;">
                    <i class="bi bi-whatsapp"></i> 0752510856
                </a>
            </th>
            <th>
                <a href="https://wa.me/491633048904" class="btn btn-primary" style="background-color: #4CAF50;font-size: 20px; width:200px;">
                    <i class="bi bi-whatsapp"></i> 491633048904
                </a>
            </th>
        </tr>
    </table>
</footer>

