@model Post
@{
    ViewData["Title"] = "Create A Post";
}

<form method="post">
    <div class="boarder p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text primary">Create Post</h2>
        </div>
    </div>
    <div asp-validation-summary="All"></div>
    <div class="mb-3">
        <label asp-for="UserName">Name</label>
        <input asp-for="UserName" class="form-control"/>
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Text">Message</label>
        <input asp-for="Text" class="form-control"/>
        <span asp-validation-for="Text" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Post</button>
    <a asp-controller="Post" asp-action="Index" class="btn btn-primary" style="width:300px">
        Back To The Forum
    </a>
</form>